a {
   text-decoration: none;
}

a:hover {
    color: #0122be;
    font-weight: bolder;
    text-decoration-line: inherit;
    text-decoration-color: #0122be;
    border-top: 4px solid #0122be;
}

.nav-link .active{
    color: #0122be;
    font-weight: bolder;
    text-decoration-line: inherit;
    text-decoration-color: #0122be;
    border-top: 4px solid #0122be;
}