<nav class="navbar navbar-inverse">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/perfil/entrevistados">ENTREVISTADOS</a>
        </li>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item float-right">
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>