<div class="mx-auto mat-elevation-z24 m-5 p-5 rounded">

    <div class="row">
        <div class="col-4">
            <mat-chip-list>
                <mat-chip (click)="test.estado = 'sin entrevistar'"
                    *ngIf="test.estado == 'entrevistado'; else sinEntrevistar" color="primary" selected="true">
                    entrevistado
                </mat-chip>
                <ng-template #sinEntrevistar>
                    <mat-chip (click)="test.estado = 'entrevistado'" color="accent" selected="true">sin entrevistar
                    </mat-chip>
                </ng-template>
            </mat-chip-list>
        </div>
        <div class="col-4"></div>
        <div class="col-2">
            <button class="btn btn-success w-100" type="button" id="submit" color="success"
                (click)="saveEdit()">Guardar</button>
        </div>
        <div class="col-2">
            <button class="btn btn-warning w-100" (click)="volver()">Volver</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Curriculum Vitae</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center mb-0">
                    <button mat-stroked-button color="link"><a href="{{test.cv}}" target="_blank">Ver
                            curriculum</a></button>
                </mat-card-content>
                <mat-card-actions>
                    <label for="archivo" class="w-100"><span>Cambiar cv</span></label>
                    <span class="archivo"><input type="file" id="archivo" name="archivo"
                            (change)="archivoSeleccionado($event)"></span>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-8">
            <mat-form-field class="mr-5 w-25">
                <input matInput placeholder="DNI" [(ngModel)]="test.dni" name="test.dni" required>
            </mat-form-field>
            <mat-form-field class="w-50">
                <input matInput placeholder="Email" [(ngModel)]="test.email" name="test.email" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" [(ngModel)]="test.nombre" name="test.nombre" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellidos" [(ngModel)]="test.apellidos" name="test.apellidos" required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Direccion" [(ngModel)]="test.direccion" name="test.direccion">
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Teléfono" [(ngModel)]="test.telefono" name="test.telefono" required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="example-full-width">
                <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                <mat-datepicker touchUi #fechaNacimiento></mat-datepicker>
                <input matInput [matDatepicker]="fechaNacimiento" placeholder="Fecha de Nacimiento"
                    name="test.fechaNacimiento" [(ngModel)]="test.fechaNacimiento" required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Ciudad" [(ngModel)]="test.ciudad" name="test.ciudad">
            </mat-form-field>
        </div>
        <div class="col-5">
            <mat-form-field class="example-full-width">
                <mat-label>Provincia</mat-label>
                <mat-select [(ngModel)]="test.provincia">
                    <option value="">Seleccione la provincia</option>
                    <mat-option *ngFor="let provincia of provincias" [value]="provincia">{{provincia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Código Postal" [(ngModel)]="test.codigoPostal" name="test.codigoPostal">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Observaciones" [(ngModel)]="test.observaciones"
                        name="test.observaciones" [(ngModel)]="caracteresObservaciones"></textarea>
                </mat-form-field>
                <span *ngIf="caracteresObservaciones">{{caracteresObservaciones.length}} caracteres de
                    250</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2">
            <h4 class="pl-4">Tecnologías:</h4>
        </div>
        <div class="col-10">
            <section class="example-section" *ngFor="let tecnologia of tecnologias">
                <mat-checkbox color="primary" value="tecnologia.name" class="example-margin"
                    [checked]="tecnologiasUsadas.includes(tecnologia)" (change)="updateTechnologiesUsadas(tecnologia)">
                    {{tecnologia.name}} </mat-checkbox>
            </section>
        </div>
    </div>
    <hr>

</div>