// .mat-form-field{
//     color: white;
//     border-color: red;
// }


.mat-card-actions {
    margin: 0 auto;
}

.botonCv {
    border: 1px solid #ff8040;
    width: 100%;
}

.zoomCv{
    transform: scale(3);
}

input[type='file']#archivo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 1%;
}

label[for="archivo"] {    
    width: 100%;
    border: 2px solid #ff8040;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    }