<div class="row">
  <div class="mx-auto mat-elevation-z19 mt-5" id="contenedor">
    <form [formGroup]="formuLogin" >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <h2 class="text-primary font-weight-bold">LOGIN</h2>
        </mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content>
        <div class="example-container">
          Usuario: eve.holt@reqres.in<br>
          Contraseña: cityslicka<br>
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="testMargin"><i class="fas fa-user"></i></mat-icon>
            <input matInput placeholder="Usuario" requried autofocus formControlName="usuario">
          </mat-form-field>
          <br>
          <mat-form-field class="w-100">
            <mat-icon matPrefix (click)="visible = !visible" class="testMargin">
              {{visible ? 'visibility' : 'visibility_off'}}</mat-icon>
            <input matInput placeholder="Contraseña" [type]="visible ? 'text' : 'password'" required formControlName="contrasena">
          </mat-form-field>
          <hr>
        </div>
        <div>
          <mat-card-actions class="clearfix m-0 p-0">
            <mat-checkbox class="float-left" color="primary">Mantener la sesión abierta</mat-checkbox>
            <button type="button" [disabled]="!formuLogin.valid" class="float-right btn btn-primary" (click)="logIn()">Loguearse</button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
  </div>
</div>
