<div class="mx-auto mat-elevation-z24 m-5 p-5 rounded">
    <form [formGroup]="formulario">
        <div class="row">
            <div class="col-4">
                <mat-chip-list>
                    <mat-chip (click)="nuevoInterviewed.estado = 'sin entrevistar'"
                        *ngIf="nuevoInterviewed.estado == 'entrevistado'; else sinEntrevistar" color="primary"
                        selected="true">
                        entrevistado
                    </mat-chip>
                    <ng-template #sinEntrevistar>
                        <mat-chip (click)="nuevoInterviewed.estado = 'entrevistado'" color="accent" selected="true">sin
                            entrevistar
                        </mat-chip>
                    </ng-template>
                </mat-chip-list>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <button class="btn btn-success w-100" routerLink="/perfil/entrevistados" [disabled]="!formulario.valid"
                    type="button" id="submit" (click)="submit()">Guardar</button>
            </div>
            <div class="col-2">
                <button type="reset" class="btn btn-danger w-100">Borrar</button>
            </div>
            <div class="col-2">
                <button class="btn btn-warning w-100" (click)="volver()">Volver</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Curriculum Vitae</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="text-center">
                        <span [ngStyle]="{'color': hayCv === true ? 'blue' : 'red'}" class="file-name">
                            {{ mensajeArchivo }}
                        </span>
                    </mat-card-content>
                    <mat-card-actions>
                        <label for="archivo" class="w-100"><span>Cambiar cv</span></label>
                        <span class="archivo">
                            <input type="file" id="archivo" name="archivo" (change)="cambioArchivo($event)"
                                formControlName="cv">
                        </span>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-8">
                <mat-form-field class="mr-5 w-25">
                    <input matInput placeholder="DNI" name="nuevoInterviewed.dni" formControlName="dni" required>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <input matInput placeholder="Email" name="nuevoInterviewed.email" type="email"
                        formControlName="email" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" name="nuevoInterviewed.nombre" formControlName="nombre" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Apellidos" name="nuevoInterviewed.apellidos"
                        formControlName="apellidos" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Dirección" name="nuevoInterviewed.direccion"
                        formControlName="direccion">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Teléfono" name="nuevoInterviewed.telefono" formControlName="telefono" required>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field class="example-full-width">
                    <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #fechaNacimiento></mat-datepicker>
                    <input data-date-format="dd-mm-yyyy" matInput [matDatepicker]="fechaNacimiento"
                        placeholder="Fecha de Nacimiento" name="nuevoInterviewed.fechaNacimiento"
                        formControlName="fechaNacimiento" readonly required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ciudad" name="nuevoInterviewed.ciudad" formControlName="ciudad">
                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field class="example-full-width">
                    <mat-label>Provincia</mat-label>
                    <mat-select formControlName="provincia">
                        <option value="">Seleccione la provincia</option>
                        <mat-option *ngFor="let provincia of provincias" [value]="provincia">{{provincia}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Código Postal" name="nuevoInterviewed.codigoPostal"
                        formControlName="codigoPostal">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div>
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Observaciones" name="nuevoInterviewed.observaciones"
                            formControlName="observaciones" [(ngModel)]="caracteresObservaciones"></textarea>
                    </mat-form-field>
                    <span *ngIf="caracteresObservaciones">{{caracteresObservaciones.length}} caracteres de
                        250</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2">
                <h4 class="pl-4">Tecnologías:</h4>
            </div>
            <div class="col-10">
                <section class="example-section" *ngFor="let tecnologia of tecnologias">
                    <mat-checkbox color="primary" value="tecnologia.name" class="example-margin"
                        (change)="updateTechnologiesUsadas(tecnologia)"> {{tecnologia.name}} </mat-checkbox>
                </section>
            </div>
        </div>
        <hr>
    </form>
</div>