.quitarEstilosBoton{
    border: none;
    background-color: transparent;
}

.quitarEstilosBoton:focus{
    border: none;
}

button {
  border: none;
}

.fa-user-edit{
   color: #4f5bff;
}

.fa-user-times{
    color: #ff0000;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.izq {
  float: left;
}

.der {
  float: right;
}