<div class="row">
  <div class="col-6">
    <!-- <i class="material-icons">
          search
           </i><input type="text" placeholder="Introduzca nombre" class="w-100"></div> -->
    <mat-form-field class="example-full-width">
      <mat-icon matSuffix>search</mat-icon>
      <input matInput placeholder=" Buscar..." [(ngModel)]="inter" autocomplete="off">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <h6 *ngIf="intervieweds.length != 1; else unElemento">{{intervieweds.length}} elementos en la lista
    </h6>
    <ng-template #unElemento>
      <h6>{{intervieweds.length}} elemento en la lista</h6>
    </ng-template>
  </div>
  <div class="col-3">
    <button routerLink="/perfil/anadir" class="btn btn-info w-100"><i
        class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Añadir entrevistado</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <table class="table table-hover text-center">
      <thead class="thead-dark">
        <tr>
          <th>Estado</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>DNI</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tr *ngIf="intervieweds.length === 0">
          <td colspan="7">No hay ningun entrevistado todavía</td>
        </tr>
      <tbody *ngFor="let interviewed of intervieweds | filter:inter">        
        <tr>
          <td>
            <mat-chip-list>
              <mat-chip><span *ngIf="interviewed.estado == 'entrevistado'; else noEntrevistado"
                  class="text-success font-weight-bold"
                  (click)="interviewed.estado = 'sin entrevistar'">Entrevistado</span></mat-chip>
              <ng-template #noEntrevistado><span class="text-danger font-weight-bold"
                  (click)="interviewed.estado = 'entrevistado'">Sin entrevistar</span></ng-template>
            </mat-chip-list>
          </td>
          <td>{{interviewed.nombre}}</td>
          <td>{{interviewed.apellidos}}</td>
          <td>{{interviewed.dni}}</td>
          <td>{{interviewed.email}}</td>
          <td>{{interviewed.telefono}}</td>
          <td>
            <button [ngClass]="{'quitarEstilosBoton': true}" routerLink="/perfil/edit/{{interviewed.id}}"
              title="Editar"><i class="fas fa-user-edit"></i></button>
            <button [ngClass]="{'quitarEstilosBoton': true}" (click)="delInterviewed(interviewed)" title="Borrar"><i
                class="fas fa-user-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>