<h1 mat-dialog-title>Va a eliminar un entrevistado</h1>
<div class="text-center" mat-dialog-content>
  <p>¿Desea realmente eliminar al entrevistado?</p>
</div>
<div class="row" mat-dialog-actions>
  <button class="col-4 btn btn-secondary" (click)="cancelar()">Cancelar</button>
  <div class="col-4"></div>
  <button class="col-4 btn btn-danger" [mat-dialog-close]="true" cdkFocusInitial>Eliminar</button>
</div>