/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato', sans-serif !important;// #1
  background-color: white !important;
  left: 10%;
  width: 80%;
  position: relative;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: inline;
  align-content: center;
  align-items: center;
  // height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #5667fe;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 0.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
  
/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }
  .button {
    border-radius: 10%;
    border: none;
    background-color: #607D8B;
    color: white;
    padding: 0.5em;
    cursor: pointer;
    cursor: hand;
    margin: 0.2em;
  }
  .button:hover {
    background-color: #cfd8dc;
    color: #607D8B;
    }
  .button:disabled {
    background-color: rgb(202, 138, 138);
    color: #eee;
    cursor: auto;
    }
  
