<nav class="navbar navbar-inverse navbar-default text-white">
  <div class="navbar-header">
    <img src="./assets/logo.png" alt="Logo" title="Logo">
  </div>
  <div class="text-center">
    <a href="/"><i class="fas fa-user fa-3x" title="Login"></i><hr></a>
    <div *ngIf="estaOn">
        <h6 class="text-primary">{{ registrado }}</h6>
        <button class="btn btn-danger m-0 p-0" (click)="vaciarLocalStorage()">Cerrar sesion</button>
    </div>
  </div>  
</nav>
<hr>